@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/************************** CUSTOM DARK THEME SCROLLBAR **************************/
body::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar thickness */
}
body::-webkit-scrollbar-track {
  background-color: #222; /* Dark background color for track */
}
body::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker color for the scroll thumb */
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  color: white;

  --background-primary: #0f0f0f;
  --background-secondary: #252525;
  --border-primary: #2b2b2b;

  --button-background: #222222;
  --serach-focus-blue: #1c62b9;
}

body {
  background-color: var(--background-primary);
}

/************************** NAVBAR CSS **************************/

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  padding-left: 2rem;
  padding-right: 2rem;

  background-color: var(--background-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*---- FOR FIXED ON SCROLL ----*/
  position: sticky;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.search-bar-container {
  display: flex;
}

.search-bar-container input {
  z-index: 10;
  width: 33rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
  border: 1px solid var(--border-primary);
  border-radius: 3rem 0 0 3rem;
  background-color: var(--background-primary);
  font-size: 16px;
}

.search-bar-container input:focus {
  outline: 1px solid var(--serach-focus-blue);
}

.search-bar-container button {
  background: var(--button-background);
  border: none;
  border: 1px solid var(--border-primary);
  border-radius: 0 3rem 3rem 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  cursor: pointer;
}

.navbar-action-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar-action-btns button {
  cursor: pointer;
  background: transparent;
  border: none;
}

/************************** APP DRAWER CSS **************************/

.main-section {
  display: flex;
}

.app-drawer {
  height: calc(100vh - calc(2.5rem + 0.5rem));
  width: 17rem;
  margin: 0 0.8rem;

  /*---- FOR FIXED ON SCROLL ----*/
  position: sticky;
  top: 4rem; /**/
}

.app-drawer button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  display: flex;

  align-items: center;
  gap: 1.5rem;
}

.app-drawer button:hover {
  background-color: var(--background-secondary);
}

.app-drawer hr {
  border: 1px solid var(--border-primary);
  margin: 1rem 0;
}

/*------- APP DRAWER active state/custom buttons -------*/

#you-btn {
  gap: 0.7rem;
}

#home-btn {
  background: var(--background-secondary);
}

/************************** FILTERS AND VIDEO CONTAINER CSS **************************/
.filter-and-vids-container {
  width: 100%;
  margin: 0rem 1rem 0 0.5rem;
}

/************************** FILTERS CSS **************************/

.filters {
  background-color: var(--background-primary);
  display: flex;
  height: fit-content;
  gap: 1rem;
  padding-bottom: 1rem;

  /*---- FOR FIXED ON SCROLL ----*/
  position: sticky;
  top: 4rem; /**/
}

.filters button {
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 14px;
  background: var(--border-primary);
}

/*------- FILTER BUTTONS active state/custom buttons -------*/
#All-btn {
  background: white;
  color: var(--background-primary);
}

/************************** VIDEOS CSS **************************/

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 1rem;
  padding-top: 1rem;
}

.video-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 24rem;
}

.video-container:hover {
  cursor: pointer;
}

.video-container img {
  border-radius: 0.8rem;
}

.video-container .video-metadata {
  padding-top: 0.7rem;
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.video-container .video-metadata h4 {
  padding: 0.5rem 0;
}
